body {
  background: #666666;
  color: #aaaaaa;
  margin: 0;
  padding: 0;
}

div#youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 20%;
  width: 100%;
}

div#youtube-player iframe {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  margin-top: 32px;
}

h1 svg {
  color: #ff6666;
}

#form {
  text-align: center;
  margin: 0;
  padding: 0;
}

#form input{
  font-size: x-large;
  padding: 8px;
  border-radius: 16px;
  border: solid 1px #aaaaaa;
  width: 95%;
  margin: 0;
}

#form button {
  font-size: x-large;
  padding: 8px;
  border: solid 1px #aaaaaa;
  border-radius: 16px;
  border-left: 0;
  margin: 8px;
}

ul#download-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

ul#download-list li {
  border-top: solid 1px;
  padding: 16px;
  position: relative;
}

ul#download-list li.header {
 background: #444444;
}

ul#download-list li h2 {
  margin: 0;
}

ul#download-list li:first-child {
  border: none;
}

ul#download-list li button {
  float: right;
  border-radius: 8px;
  border: solid 1px #aaaaaa;
}

ul#download-list li .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #226622;
  z-index: -1;
}

ul#download-list li div.status {
  float: right;
}